@media only screen and (max-width:1629px) {
    #ex-a{
        justify-content: end !important; 
        gap: 80px !important;
        flex-direction: row-reverse !important;
    }
    #ex-b{
        gap: 80px !important;
    }
}

@media only screen and (max-width:1162px) {
    #container{
        flex-direction: column !important;
        justify-content: start !important;
        align-items: center !important;
    }
    #about-us-side{
        width: 100% !important;
    }
    #information-side{
        width: 100%;
        height: 5vh !important;
        padding: 10px;
    }
    #experience-side{
        min-height: 100vh;
    }
    #experience{
        flex-direction: row !important;
        transform: translateY(50px);
    }
    #ex-a , #ex-b{
        min-width: 45% !important;
        min-height: 150vh;
        flex-direction: column !important;
    }
    #ex-a{
        justify-content: start !important;
        gap: 150px !important;
    }
    #ex-b{
        justify-content: end !important;
        gap: 150px !important;
    }
    #time-line-side{
        width: max-content !important;
        min-height: 100vh;
    }
    #time-line{
        width: 10px !important;
        height: 150vh !important;
    }
    #ex-a>div::after{
        position: fixed;
        content: '';
        width: 20%;
        height: 10px;
        transform: translatex(-125px);
    }
    #ex-b>div::after{
        content: '';
        position: fixed;
        width: 20%;
        height: 10px;
        transform: translatex(125px);
    }
    #boder-right{
        min-height: 460vh;
    }

}

@media only screen and (max-width:787px) {
    #ex-a>div::after{
        width: 20%;
        transform: translatex(-70px);
    }
    #ex-b>div::after{
        width: 20%;
        transform: translatex(70px);
    }
}

@media only screen and (max-width:609px) {
    #ex-a>div .title{
        transform: translateY(-80px) translateX(50px);
    }
    #ex-b>div .title{
        transform: translateY(-80px) translateX(-50px);
    }
    #border-right{
        min-height: 1000vh !important;
    }
}    